<mat-card>

  <mat-card-content class="card-content">

    <div class="header">
      <div class="header-background">
      </div>
      <app-img-select (imageSet)="setUserImage($event)"></app-img-select>
      <div class="header-background white"></div>
    </div>

    <form class="form" [formGroup]="userInfoControl" (ngSubmit)="submitForm()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Username">
        <mat-error *ngIf="userInfoControl.controls['username'].hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="userInfoControl.controls['email'].hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="userInfoControl.controls['email'].hasError('email')">
          Email format is incorrect
        </mat-error>
      </mat-form-field>

      <div class="gender-radio">
        <mat-label>Gender</mat-label>
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
          <mat-radio-button value="Other">Other</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field class="bio">
        <mat-label>Bio</mat-label>
        <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
      </mat-form-field>

      <button class="button" mat-button type="submit" value="Save" [disabled]="!userInfoControl.valid">SAVE</button>
    </form>
  </mat-card-content>
</mat-card>
