.card-content{
  .header{
    height:50%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    .header-background{
      height:150px;
      width:100%;
      background-image: url('/assets/IMG/background.jpg');
      background-size:cover;
      &.white{
        background-image: none;
      }
    }
    app-img-select{
      position: absolute;
      // top:120px;
    }
  }
  .form{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    .gender-radio{
      display:flex;
      flex-direction:column;
      width:100%;
      mat-radio-group{
        width: 50%;
        display:flex;
        justify-content:space-between;
        padding-top:1em;
        mat-radio-button{margin:0.5em};
      }
    }
    mat-form-field{
      width:45%;
      margin:1em;
      flex-grow:2;
      &.bio{
        width:100%;
      }
    }
  }
}

